<div class="row">
  <div class="col-sm-5 col-md-6">
    <h1>Editing app</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-md-10">
    <%= render 'form' %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-5 col-md-6">
    <%= link_to 'Show', admin_app_path(@app), class: 'btn btn-success' %> |
    <%= link_to 'Back', admin_apps_path, class: 'btn btn-success' %>
  </div>
</div>